<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>orderBy</key>
		<string>goName</string>
		<key>title</key>
		<string>Nom</string>
	</dict>
	<dict>
		<key>orderBy</key>
		<string>goBrewery</string>
		<key>title</key>
		<string>Brasserie</string>
	</dict>
	<dict>
		<key>orderBy</key>
		<string>goCountry</string>
		<key>title</key>
		<string>Pays</string>
	</dict>
	<dict>
		<key>orderBy</key>
		<string>goType</string>
		<key>title</key>
		<string>Type</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Aléatoire</string>
		<key>orderBy</key>
		<string>goRandom</string>
	</dict>
</array>
</plist>
